<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated chartIt -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="chartIt.presentation.ChartItModelWizardID"
            name="%_UI_ChartItModelWizard_label"
            class="chartIt.presentation.ChartItModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ChartItModelFile.gif">
         <description>%_UI_ChartItModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated chartIt -->
      <editor
            id="chartIt.presentation.ChartItEditorID"
            name="%_UI_ChartItEditor_label"
            icon="icons/full/obj16/ChartItModelFile.gif"
            extensions="chartit"
            class="chartIt.presentation.ChartItEditor"
            contributorClass="chartIt.presentation.ChartItActionBarContributor">
      </editor>
   </extension>

</plugin>
